// Theme
$theme-primary: #cfb995;
$theme-secondary: #5e5e5e;
$theme-danger: #ff7b5b;
$theme-success: #57e690;
$theme-warning: #ff915b;
$theme-info: #57dbe6;

// Surface
$surface-text: #303030;
$surface-white: #f9f9f9;
$surface-white-text: #5e5e5e;
$surface-white-two: #ffffff;
$surface-white-three: #ecebe9;

// Others
$slate: #b2b2b2;
$pale-orange: #ffbe5b;
$kiwi-green: #8fe360;
$light-gold: #ffdf5b;
