@import '../../styles/colors';
@import '../../styles/shape';
@import '../../styles/typography';
@import '../../styles/responsive';

.cj-home {


  &__hr-divider {
    border-style: solid;
    border-color: $surface-white-three;
    margin-block: spacingPx(4);
  }

  &__main {
    padding-block: spacingPx(8);
    width: 100%;

    @include media('phone') {
      max-width: 100vw;
    }

    @include media('tablet') {
      max-width: 90vw;
    }

    @include media('desktop') {
      max-width: 80vw;
    }
  }
}

.cj-joke-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: spacingPx(4);

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: spacingPx(4);
  }

  &__label {
    @include body-text-md;
    padding: spacingPx(1) spacingPx(4);
    border-radius: $radius-lg;
    color: $surface-white;
    background-color: $weird-green;
    font-weight: 600;
    text-transform: uppercase;
  }

  @include media('phone') {
    grid-template-columns: 1fr;
  }

  @include media('tablet') {
    grid-template-columns: 1fr 1fr;
  }

  @include media('desktop') {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.cj-joke-item {
  display: flex;
  align-items: center;
  padding-block: spacingPx(4);
  border-bottom: 1px solid $surface-white-three;
  padding-inline: spacingPx(4);

  &:last-child {
    border-bottom: none;
  }

  &--active {
    background-color: rgba($slate, 0.5);
  }

  &__label {
    @include body-text-md;
    font-size: 14px;
    &__prefix {
      text-transform: capitalize;
    }
  }

  &__icon {
    height: spacingPx(6);
    width: spacingPx(6);
  }
}
